{% extends "base.html" %}
{% block content %}

<div class=" lg:flex lg:flex-wrap w-full">
    <!-- Left column container-->
    <div class="flex lg:w-6/12 lg:h-screen bg-gradient-to-r from-[#dd0707] via-black to-black">
        <div class="px-4 text-white md:mx-6">
            <h1 class="font-bungee">About This Website</h1>
            <p class="mb-6 pt-10">
                I have created this website with Pymongo, Flask, Jinga and Mongodb. It is Hosted on Herouku. <br>It
                shows my ability to use CRUD functionality and a non-relational database.
            </p>
            <p class="pt-10">The app allows the user to create an account, login and view their profile. They can then
                add a game review, read it, edit it or delete it</p>
            <p class="py-6">All reviews from all users are shown on the reviews page</p>
        </div>
    </div>

    <!-- Right column container with sonic image and input fields-->

    <div class="px-4 md:px-0 lg:w-6/12">
        <div class="md:mx-6 md:p-12">
            <!--Image and title-->
            <div class="text-center">
                <img class="mx-auto pt-4"
                    src="{{ url_for('static', filename='./images/sega-master-system-games.webp') }}"
                    alt="36 sega games in boxes lay flat" />
                <img class="mx-auto pt-4" src="{{ url_for('static', filename='./images/controllers.webp') }}"
                    alt="two sega master system controllers" />
            </div>
        </div>
    </div>
</div>

{% endblock %}