{% extends "base.html" %}
{% block content %}

<div class=" lg:flex lg:flex-wrap w-full">

    <!-- Left column container-->

    <div class="flex items-center lg:w-1/2 md:h-screen bg-gradient-to-r from-[#dd0707] via-black to-black">
        <div class="px-4 py-6 text-white md:mx-6 md:">
            <h4 class="mb-6 text-xl font-semibold">
                Add Your Game Review
            </h4>
            <p class="text-sm">
                Use the form to add a game that you wish to review. Ensure that all fields are completed in order to
                submit the details. Once submitted you can edit or delete your game review in the manage reviews section
                of the website.

            </p>
        </div>
    </div>

    <!-- Right column container with sonic image and input fields-->

    <div class="flex w-full lg:w-1/2 mx-auto">


        <div class="w-full px-8 pt-6 pb-8 mb-4">
            <p id="testElement">This is the original text.</p>
            <h2 class="block text-gray-700 text-lg font-bold mb-2">Game Details Form</h2>

            <form action="/submit_game_info" method="post" class="mb-4">
                <!-- Game Name -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameName">Game Name:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="gameName" type="text" name="gameName">
                </div>
                <!-- Publisher -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="publisher">Publisher:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="publisher" type="text" name="publisher">
                </div>

                <!-- Date Picker -->
                <div class="relative mb-3" id="datepicker-with-limits" data-te-datepicker-init
                    data-te-format="dd, mmm, yyyy" data-te-input-wrapper-init>
                    <input type="text"
                        class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        placeholder="Select a date between 1986 and 1996" />
                    <label for="floatingInput"
                        class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Select a date between 1986 and 1996</label>
                </div>
                <!-- Game Genre -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameGenre">Game Genre:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="gameGenre" type="text" name="gameGenre">
                </div>
                <!-- Number of players -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="numPlayers">Number of
                        Players:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="numPlayers" type="number" name="numPlayers" min="1">
                </div>
                <!-- Game Review -->
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameReview">Game Review:</label>
                    <textarea
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="gameReview" name="gameReview" rows="4"></textarea>
                </div>

                <div class="flex items-center justify-between">
                    <input
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit" value="Submit">
                </div>
            </form>
        </div>

    </div>
</div>


<!-- form goes here -->




{% endblock %}