{% extends "base.html" %}
{% block content %}

<div class="lg:flex lg:flex-wrap w-full font-special">
    <!-- Left column container-->
    <div class="flex lg:w-6/12 lg:h-screen bg-gradient-to-r from-[#dd0707] via-black to-black">
        <div class="px-4 text-white md:mx-6 font-special">
            <h1 class="capitalize font-bungee text-4xl sm:text-6xl my-2">Sega master system</h1>
            <h2 class="text-4xl font-semibold">8-bit Game Review Site</h2>
            <p class="my-6">Make your own game reviews or read other users</p>
        </div>
    </div>
    <!-- Right column container with sonic image and input fields-->
    <div class="px-4 md:px-0 lg:w-6/12 bg-black h-screen">
        <div class="md:mx-6 md:p-12">
            <!--Image and title-->
            <div class="text-center">
                <img class="mx-auto w-full pt-4" src="{{ url_for('static', filename='./images/blk-console.webp') }}"
                    alt="logo" >
            </div>
            <p class="text-center text-white my-4">Register to Create an account</p>
            <div class="pb-1 pt-1 text-center">
                <a href="{{ url_for('register') }}"
                    class="block mb-3 w-full rounded px-6 pb-2 pt-2.5 text-xs font-bungee font-medium uppercase leading-normal text-white bg-[#dd0707] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]">
                    Register
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}