{% extends "base.html" %}
{% block content %}

<div class=" lg:flex lg:flex-wrap w-full">

    <!-- Left column container-->

    <div class="flex lg:w-6/12 lg:h-screen bg-gradient-to-r from-[#dd0707] via-black to-black">
        <div class="px-4 py-6 text-white md:mx-6 ">
            <h1>Manage Your Game Reviews</h1>
            <p>You have created (__) reviews</p>
            <p>you have created reviews for these games:</p>
            <p class="italic">Games will go here</p>
        
        </div>
    </div>

     <!-- Right column container for user in session reviews / else show text and link to add_review.html-->

    <div class="px-4 md:px-0 lg:w-6/12">
        {% for review in reviews %}
    <div class="my-8 border border-gray-300 p-4 w-5/6 mx-auto hover:scale-105 shadow-xl">
        <h2 class="text-2xl font-bold capitalize">{{ review.game_name }}</h2>
        <p class="text-gray-500"><span>Publisher: </span>{{ review.publisher }}</p>
        <p class="text-gray-500"><span>Developer: </span>{{ review.developer }}</p>
        <p class="text-gray-500"><span>Release Year: </span>{{ review.release_year }}</p>
        <p class="mt-4"><span>Game genre: </span>{{ review.genre }}</p>
        <p class="mt-4"><span>Number of players: </span>{{ review.player_number }}</p>
        <p class="mt-2"><span>Game Review: </span>{{ review.game_review }}</p>
    </div>
    {% else %}
    <div class="lg:h-screen text-center mb-10">
        <img src="{{ url_for('static', filename='./images/try-again.webp') }}"
            alt="Sega Micky mouse game try again screen on a tv" class="mx-auto mt-10 lg:px-10"
              loading="lazy" />
        <p class="text-3xl my-10">You need to add a review to be able to manage one.</p>
    </p><a href="{{ url_for('add_review') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create New Review</a>
    </div>
    
    {% endfor %}
    </div>
</div>
    

   
  {% endblock %}
